.onicon {
    width: 1.3em;
    height: 1.3em;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: butt;
    stroke-linejoin: bevel;
    fill: none;
    vertical-align: middle;
}

.sidebar-onicon {
  width: 100%;
  fill: currentColor;
  align-self: normal;
}

@media (min-width: 768px) {
    #menu-icon {
      transform: rotate(180deg);
    }
  }

  @media (max-width: 768px) {
    #menu-icon {
      transform: rotate(0deg);
    }
  }

